.foot{
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap:30px;
    padding: 50px 100px;
    
}


.sec1 p{
    color:rgb(156, 152, 152);
    font-size: 20px;
}

.ic{
    margin-top: 20px;
    display: grid;
    padding: 5px;
    overflow: hidden;
    color:rgb(156, 152, 152);
    grid-template-columns: repeat(6, 45px);
    grid-gap: 1px;
    cursor: pointer;
}


/*.ic:hover{
    color:rgb(200, 210, 10);
    transform: scale(1.1);
}*/

.sec1 h2{
    position: relative;
    color:rgb(200, 210, 10);
    font-weight: 500px;
    margin-bottom: 15px;
    font-size: 35px;
}
.sec2 h2{
    position: relative;
    color:rgb(200, 210, 10);
    font-weight: 500px;
    margin-bottom: 15px;
    font-size: 35px;
    
}
.sec3 h2{
    position: relative;
    color:rgb(200, 210, 10);
    font-weight: 500px;
    margin-bottom: 15px;
    font-size: 35px;
}
.sec4 h2{
    position: relative;
    color:rgb(200, 210, 10);
    font-weight: 500px;
    margin-bottom: 15px;
    padding-top: 30px;
    font-size: 35px;
}
.sec2 li a{
    padding: 95px;
    text-decoration: none;
    font-size: 20px;
    color:rgb(156, 152, 152);
    padding-left:1px;
    margin:-32px;
    

}
.sec3 li a{
    padding: 95px;
    text-decoration: none;
    font-size: 20px;
    color:rgb(156, 152, 152);
    padding-left:1px;
    margin:-32px;

}
.sec4{
    
    color:rgb(156, 152, 152);
    padding-left:-30px;
    margin:-32px;
    font-size: 19px;
}
.sec4 li a{
    padding: 95px;
    text-decoration: none;
    font-size: 20px;
    color:rgb(156, 152, 152);
    padding-left:1px;
    margin:-32px;

}


