
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #020202;
    box-shadow:1px 1px 3px 3px rgba(86, 83, 86, 0.4);
  }
  .logo{    
    padding-top: 10px;
    padding-right: 400px;

    font-weight:500px;
    color:rgb(216, 234, 234);
    font-size: 16px;
  }
  
  
  header.display-menu{
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  
  .display-menu .menu{
    padding: 0 23px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(200, 210, 10);
  
  }